<!DOCTYPE html>
<html lang="es">
<head>
    <title>NowApi</title>
    <%- include('../import/head.ejs'); -%>
</head>
<body>
    <div class="container">
        <%- include('../components/navbar.ejs'); -%>
        <div class="container-content">
            <%- include('../components/form.ejs'); -%>
        </div>
    </div>
    <%- include('../import/scripts.ejs'); -%>
</body>
</html>