<form action="/sms" method="GET" class="container-form">
	<input 
    type="text"
    placeholder="De:" 
    class="title"
    name="title"
	id="title"
	required
    />
	<textarea
		name="message"
		id="message"
		cols="30"
		rows="10"
		placeholder="Escribe aqui tu mensaje"
        class="message"
		required
	></textarea>
	<button type="submit" class="send">Enviar</button>
</form>
