<nav class="container-nav">
    <div class="logo">
        <a href="/">
        <img src="comprimido/NowMessage-Logo/cover.png" width="" height="60px" alt="logo">
        </a>
    </div>
    <ul class="section-extra">

    </ul>
</nav>